html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}



.jumbotron {
	background-color: #a1adb3;
	text-align: center;
	color: white;
	font-size: 20px;
	margin-bottom: 0;
	border-radius: 0;
}

nav {
	background-color: #6e7578;
	padding: 20px;
}

nav a{
	color: white;
	font-size: 20px;
	text-decoration: none;
	margin-left: 20px;
}

nav a:hover {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.style-card {
	border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    margin-top: 20px;
	padding: 20px;
	background-color: #a1adb3;
}

main .container {
	max-width: 1200px;
}

#namaLansia, #namaPendamping, #keluhanLansia, #riwayatPenyakit, #polaMakan, #polaHidup{
	width: 350px;
}

#usia, #tekananDarah, #berat, #suhuTubuh{
	width: 60px;
}
